/* General */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0 0 16px 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.container {
    max-width: 1128px;
    margin: 0 auto;
    padding: 24px;
}


/* ~> Hero */

.hero {
    background-color: #1f2937;
    color: #f9faf8;
}

/* ~> Hero > Top */

.hero_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.navbar_link {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 16px;
}


/* ~> Hero > Content */

.hero_content {
    display: flex;
    gap: 32px;
    margin-bottom: 84px;
}

.hero_content .box {
    flex: 1;
}

.hero_content h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.para {
    font-size: 18px;
    color: #e5e7eb; 
}

.hero_box--right {
    text-align: right;
    max-width: 550px;
    max-height: 225px;
}

.img--header {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Buttons */

.btn {
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 32px;
}