/* General */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0 0 16px 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.container {
    max-width: 1128px;
    margin: 0 auto;
    padding: 24px;
}

.ta-center {
    text-align: center;
}


/* ~> Hero */

.hero {
    background-color: #1f2937;
    color: #f9faf8;
}

/* ~> Hero > Top */

.hero_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.navbar_link {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 16px;
}


/* ~> Hero > Content */

.hero_content {
    display: flex;
    gap: 32px;
    margin-bottom: 84px;
}

.hero_content .box {
    flex: 1;
}

.hero_content h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.para {
    font-size: 18px;
    color: #e5e7eb; 
}

.hero_box--right {
    text-align: right;
    max-width: 550px;
    max-height: 225px;
}

.img--header {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Buttons */

.btn {
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 32px;
}

.btn--secondary {
    border: 2px #f9faf8 solid;
}

/* ~> Information */

.information {
    margin-bottom: 84px;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-top: 0;
}

.box.information_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
}

.card {
    width: 164px;
}

.card_img {
    width: 100%;
    height: 164px;
    border: 3px #3882f6 solid;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
}

.card_img.luwak {
    background-image: url("./luwak.jpg");
}

.card_img.poo {
    background-image: url("./poo.jpg");
}

.card_img.coffee-beans {
    background-image: url("./coffee-beans.jpg");
}

.card_img.coffee {
    background-image: url("./coffee-cup.jpg");
}

.card_description {
    margin-top: 8px;
    color: #1f2937;
}

/* ~> Quote */

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote blockquote {
    text-align: left;
    padding: 64px;
    display: flex;
    flex-direction: column;
}

.quote_para {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote_label {
    align-self: flex-end;
    font-weight: 700;
    font-size:18px;
}

/* ~> Signup */

.signup{
    padding: 64px 0;
}

.signup_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 12px;
    color: #f9faf8;
    padding: 32px 128px; 
}

.signup_content h3 {
    margin: 0 0 8px 0;
    font-size: 24px;
}

/* ~> Footer */

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px 0;
}