/* General */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.container {
    max-width: 1264px;
    margin: 0 auto;
    padding: 24px;
}


/* ~> Hero */

.hero {
    background-color: #1f2937;
    color: #f9faf8;
}

/* ~> Hero > Top */

.hero_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.navbar_link {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 16px;
}


/* ~> Hero > Content */

.hero_content {
    display: flex;
}

.hero_content .box {
    flex: 1;
}

.hero_box--right {
    text-align: right;
}

.img--header {
    width: 500px;
    height: 250px;
}